<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{hidden: !(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" position="end">
    <mat-nav-list dir="rtl">
      <a mat-list-item routerLink="home" routerLinkActive="active">صفحه اصلی</a>
      <a mat-list-item routerLink="employee" routerLinkActive="active">لیست کارمندان</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="!(isHandset$ | async)">
      <mat-toolbar-row class="toolbar-row">
        <div class="container">
          <div class="row">
            <div class="top-bar-inner">
              <div class="left-side" dir="rtl">
                <div class="search">
                  <form class="search-form">
                    <input class="search-inp" type="search" value name="s"
                      placeholder="عنوان مورد نظر خود را جستجو کنید...">
                    <button class="search-btn" type="submit" aria-label="search">
                      <mat-icon class="serach-icon">
                        <span class="material-icons">search</span>
                      </mat-icon>
                    </button>
                  </form>
                </div>

                <div class="login">
                  <button routerLink="login" routerLinkActive="active" class="login-btn m-1 btn btn-primary"
                    *ngIf="!isAuth">ورود /ثبت نام
                  </button>
                  <div class="dropdown">
                    <button routerLinkActive="active" class="login-btn m-1 btn btn-primary dropdown-toggle"
                      type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" *ngIf="isAuth">
                      پنل کاربری
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="isAuth">
                      <li><a class="dropdown-item" routerLink="profile">پروفایل</a></li>
                      <li><a class="dropdown-item" (click)="onLogout()">خروج</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row class="toolbar-row" dir="rtl">
        <div class="nav-bar">
          <div class="container">
            <div class="row">
              <ul>
                <li class="nav-btn">
                  <button routerLink="home" routerLinkActive="active" class="m-1 btn float-end nav-btn">
                    صفحه اصلی
                  </button>
                </li>
                <li class="nav-btn">
                  <button routerLink="employee" routerLinkActive="active" class="m-1 btn  nav-btn">
                    لیست کارمندان
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar class="custom-toolbar" *ngIf="isHandset$ | async">
      <mat-toolbar-row class="container" style="position: relative;">
        <button style="position: absolute; left: 0;" routerLink="profile" aria-label="Toggle sidenav" mat-icon-button
          *ngIf="isHandset$ | async">
          <mat-icon class="person-icon" aria-label="Side nav toggle icon">person_outline</mat-icon>
        </button>
        <button style="position: absolute; right: 0;" type="button" aria-label="Toggle sidenav" mat-icon-button
          (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row style="display: flex; position: relative;">
        <div class="container search" style="position: absolute; right: 0; left: 0;" dir="rtl">
          <form>
            <input class="search-inp form-control" type="search" value name="s"
              placeholder="عنوان مورد نظر خود را جستجو کنید...">
            <button class="search-btn" type="submit" aria-label="search">
              <mat-icon class="serach-icon">
                <span class="material-icons">search</span>
              </mat-icon>
            </button>
          </form>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
