<div  class="row mt-5" dir="rtl">
    <div class="col-md-6 m-auto">
        <div>
            <h1 class="text-center mb-3"> فراموشی کلمه عبور</h1>
            <form>
                <p>
                    <label>پست الکترونیکی </label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput type="email" id="email" name="email" ngModel
                            placeholder="پست الکترونیکی خود را وارد نمایید" required>
                    </mat-form-field>
                </p>
                <div class="submit-btn d-grid gap-2">
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>
