.close-btn {
    width: 30%;
    margin-left: 10px;
}

.submit-btn {
    width: 30%;
    margin-left: 30px;
}

.header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 40px;
    background-color: #543D7c;
}

h3 {
    text-align: right;
    font-family: 'vazir', 'arial', sans-serif;
    color: #fff;
    padding: 24px 24px 0 0;
    margin: 0;
}

.add-items {
    padding: 24px;
}

mat-toolbar {
    height: 30px;
    background-color: inherit;
    font-family: vazir;
    font-size: 1rem;
    padding-bottom: 30px;
}

mat-form-field {
    width: 250px;
    margin: 0 0 25px 20px;
}

@media screen and (max-width: 1199.98px) {
    mat-form-field {
        width: 230px;
    }
}

@media screen and (max-width: 991.98px) {
    mat-form-field {
        width: 180px;
    }
}

@media screen and (max-width: 767.98px) {
    td {
        display: block;
    }
}
