<div style="margin-bottom: 200px;" class="row mt-5" dir="rtl">
    <div class="col-md-6 m-auto">
        <div>
            <h1 class="text-center mb-3"> ورود به حساب کاربری</h1>

            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>

            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <p>
                    <label>پست الکترونیک</label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput type="email" id="email" name="email" ngModel
                            placeholder="پست الکترونیکی خود را وارد نمایید" required>
                    </mat-form-field>
                </p>
                <p>
                    <label>کلمه عبور </label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput type="password" id="password" name="password" ngModel
                            placeholder="کلمه عبور خود را وارد نمایید" required>
                    </mat-form-field>
                </p>

                <div class="submit-btn d-grid gap-2">
                    <button type="submit" class="btn btn-primary">ورود</button>
                </div>
                <div class="alert alert-danger errorMsg" *ngIf="error">
                    <p>{{ error }}</p>
                </div>
            </form>
            <p class="lead mt-4 text-center">
                <a class="forget-password" href="/register">اگر عضو نیستید ثبت نام کنید.</a>
                <a class="forget-password" href="/forgetPass">رمز عبور خود را فراموش کرده اید؟</a>
            </p>
        </div>
    </div>
</div>
