<kendo-grid [kendoGridBinding]="gridView" [sortable]="true" [reorderable]="true" [resizable]="true" [height]="680"
    (add)="addHandler()" (edit)="editHandler($event)" (remove)="removeHandler($event)">

    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand mat-raised-button color="primary" type="button" id="add-btn">افزودن</button>
    </ng-template>


    <kendo-grid-command-column title="" [style]="{'direction' : 'rtl'}">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand mat-icon-button [primary]="true" class="edit-btn">
                <mat-icon class="edit-icon">launch</mat-icon>
            </button>
            <button kendoGridRemoveCommand mat-icon-button class="remove-btn">
                <mat-icon class="edit-icon">delete_outline</mat-icon>
            </button>
        </ng-template>
    </kendo-grid-command-column>

    <kendo-grid-column field="birthTime" title="تاریخ تولد" [style]="{'text-align': 'right'}"
        [headerStyle]="{'direction' : 'rtl'}">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.birthTime | date: 'yyyy/mm/dd' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="age" title="سن" [style]="{'text-align': 'right'}" [headerStyle]="{'direction' : 'rtl'}">
    </kendo-grid-column>

    <kendo-grid-column field="lastName" title="نام خانوادگی" [style]="{'text-align': 'right'}"
        [headerStyle]="{'direction' : 'rtl'}">
    </kendo-grid-column>

    <kendo-grid-column field="firstName" title="نام" [style]="{'text-align': 'right'}"
        [headerStyle]="{'direction' : 'rtl'}">
    </kendo-grid-column>

    <kendo-grid-column field="id" title="شناسه" [style]="{'text-align': 'right'}" [headerStyle]="{'direction' : 'rtl'}">
    </kendo-grid-column>

</kendo-grid>
